.cartAccent{
    color: #592614;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

.deliverButton{
    border-radius: 25px;
    position: absolute;
    top: 900px;
    left: 38%;
    width: 150px;
}

#cartCard{
    background-color: lightgray;
}

.chkBTN{
    background-color: #2f150c;
}

#checkoutLink{
    text-decoration: none;
}

.chkBTNText{
    color: white;
    text-align: center;
    font-weight: 100;
}

.orderSummary{
    background-color: white;
}

.orderSummary p{
    text-align: center;
}

.payMethod{
    text-align: center;
}

.iconAlign{
    justify-content: center;
    height: 100px;
}