@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');/*Importing Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');/*Importing NotoSansJP*/

* {
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

#middleNAV{
    padding-left: 160px;
}

.active{
    color: #592614 !important;
    text-decoration: underline;
    text-decoration-color: #592614;
}

.homeImageStyling {
    width: 100%;
}

.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.loginForm{
    padding-top: 300px;
    overflow-y: hidden;
}

.signupForm{
    padding-top: 50px;
    overflow-y: hidden;
}

.signupFlex{
    display: flex;
    flex-direction: row;
}

.sharedInput{
    width: 90% !important;
}

.signUpHere{
    color: #592614;
    text-decoration: underline;
    text-decoration-color: #592614;
}

.signUpHere:hover{
    color: #bc4c35;
    text-decoration: underline;
    text-decoration-color: #bc4c35;
}

.form-container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 50%;
}

.formInput{
    width: 100%;
    border: 2px solid #592614;
} 

.quantityInput{
    width: 30%;
    border:none;
    border-bottom: 2px solid #592614;
}

.deliveryInput{
    width: 75%;
    border:none;
    border-bottom: 2px solid #592614;
}

.formInputPadding{
    padding-top: 50px;
} 

.emailFormLabel{
    position: absolute;
    left: 5px;
    color: #adadad;
    pointer-events: none;
}

.formHeight{
    height: 600px;
}

.passwordFormLabel{
    position: absolute;
    left: 5px;
    color: #adadad;
    pointer-events: none;
}

input:focus{
    outline:none;
}

.loginImageStyling{
    height: 100vh;
    width: 100%;
}

.signinImageStyling{
    height: 100vh;
    width: 100%;
}

.loginFormStyling{
    position: relative;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    overflow-y: hidden;
}

.loginButton{
    border-radius: 25px;
    position: relative;
    top: 0px;
    left: 35%;
    width: 150px;
}

.signUpButton{
    border-radius: 25px;
    position: absolute;
    top: px;
    left: 35%;
    width: 150px;
}

.homeIMG{
    background-image: url("../Images/homeImage2.jpg");
    height: 1000px;
    background-size: cover;
}

.homeImageText{
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%); 
    overflow-y: hidden;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.homeImageText2{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%); 
    overflow-y: hidden;
    text-align: center;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    font-size: 60px;
}

.homeImageBtn{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 20px;
    background-color: #592614;
    border-radius: 25px;
}
.saveChangesBtn{
    color: white;
    font-size: 15px;
    background-color: #592614;
    border-radius: 25px;
    left: 35%;
}

.homeImageBtn:hover, .readMore:hover, .shopNow:hover, .subButton:hover, .saveChangesBtn:hover{
    background-color: #bc4c35;
    color: white;
}

.cardImageStyling {
    width: 100%;
    height: 300px;
}

.cardSize {
    width: 50%;
    padding-left: 12px;
}

.btn-BC4C35{
    border:2px solid #592614;
    color: #592614;
}

.nav-login-btn{
    border-radius: 25px;
    width: 100px;
}

.btn-BC4C35:hover{
    border:2px solid #592614;
    background-color: #bc4c35;
    color: white;
}

.nav-link:hover{
    text-decoration: underline;
    color: #592614;
}

.nav-bg-white, .card-bg-white {
    background-color: white;
}

.offerText{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}

.chooseBG{
    background-image: url("../Images/IngredientsOnTable.jpg");
    height: 600px;
    background-size: cover;
}

.chooseUsText{
    position: relative;
    top: 15rem;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, -50%); 
    overflow-y: hidden;
    text-align: center;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 800;
    font-size: 35px;
}

.chooseUsText2{
    position: relative;
    top: 15rem;
    left: 50%;
    transform: translate(-50%, -50%); 
    overflow-y: hidden;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20PX;
}

.flexBox{
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.readMore{
    position: absolute;
    top: 380%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 20px;
    background-color: #592614;
    border-radius: 25px;
}

.shopNow{
    color: white;
    font-weight: 500;
    font-size: 16px;
    background-color: #592614;
    border-radius: 25px;
}

@media screen and (min-width: 0px) and (max-width: 576px){
    .homeIMG, .chooseBG{
        background-size:cover;
        background-position: center;
    }
    .homeImageText{
        font-size: 45px;
        padding-bottom: 15%;
    }
    .homeImageText2{
        font-size: 45px;
    }
    .chooseUsText{
        font-size: 25px;
        padding-bottom: 2%;
    }
    .chooseUsText2{
        font-size: 16px;
    }
    .flexBox{
        flex-direction: column;
    }
}