.subImageStyling {
    width: 100%;
}

.subscribeIMGText{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); 
    overflow-y: hidden;
    text-align: center;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 800;
    font-size: 35px;
}

.subscribeIMGText2{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); 
    overflow-y: hidden;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20PX;
}

.subText{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}

.subCardContainer{
    height: 400%;
}

.subCards{
    height: 200%;
}

.subCardTitle{
text-align: center;
}

.subPrice{
    color: #592614;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 35px;
}
.subPrice2{
    color: #592614;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
}

.subCardContent{
    text-align: center;
}

.subButton{
    color: white;
    display: block;
    font-weight: 500;
    font-size: 16px;
    background-color: #592614;
    border-radius: 25px;
    text-align: center;
}

.colour-line {
    height: 2000px;
    width: 100%;
    color: #592614;
}